/* Reset CSS */
:root {
  --header-height: 80px;
  --primary-color: #302082;
  --secondary-color: #FFFFFF;
  --tertiary-color: #FF9054;
  --white-color: #FFFFFF;
  --border-radius: 4px;
  --transition: all 0.3s ease;
  --menu-height: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: var(--header-height);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  background-color: var(--white-color);
  flex: 1;
}

footer {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  body.menu-open .mainContent {
    transform: translateY(var(--menu-height));
  }

  footer {
    display: none;
  }
}